{% extends 'exerciser/base.html' %}
{% load static %}
{% block links %}<link rel="stylesheet" href="{% static 'css/applications.css' %}" />{% endblock %}
{% block app_name %}{{application_name}}{% endblock %}
{% block app_controls %}
	<li><a id="btn_prev" href="#" style="top: 2px; visibility:hidden;"><i class="fa fa-step-backward fa-lg landing-icon fa"></i>&nbsp;Previous</a></li>
	<li><a id="btn_next" href="#" style=" top: 2px;"><label id="forward_button_label" style="color:red;font-size:24px;cursor:pointer;">Start</label>&nbsp;<i id="next_arrow" class="fa fa-step-forward fa-lg landing-icon fa" style="display:none;"></i></a></li>
	<li><a id="btn_reset" href="#" style="top: 2px;visibility:hidden;">Reset&nbsp;<i class="fa fa-refresh fa-lg landing-icon fa"></i></a></li>
{% endblock %}
{% block examples %} 
	<li id="application_list" class="dropdown">
		<div class="btn-group" id="myDropdown">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="position: relative; top: 10px;">
			<input id="application_text" style="background-color: inherit; border: 0; font-size: 12pt; padding: 0; margin: 0; color: gray; " value="Select Example..."  />
			
		  </a>
			{% if applications %}
				<ul class="dropdown-menu" id="application_list">
					{% for application in applications %}
					<li><a href="/weave/application/{{ application.url }}">{{ application.name }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
			
	</li>
{% endblock %}
{% block body_block %}
	{% if application %}
		{% if panels %}
			<div class="row" id = "outer_panel" style ="position:relative;">
				<table id="panel_container" style="line-height: 110%;overflow:auto;">
					<tr>
					{% for panel in panels %}
						<th class = "panel" id="panel_row" style ="position:relative;">
							<div class="panel" style="font-size:0;float: left;word-wrap:break-word;padding:6px 0px 6px 0px;overflow:auto;">
							{% for fragment in panel.getFragments %}
								{% autoescape off %}
								<span id = fragment_{{fragment.id}} class = "fragment" style="{{fragment.style}}">{{fragment.text}}</span>
								{% endautoescape %}
							{% endfor %}
							</div>
						</th>
					{% endfor %}
					</tr>		
				</table>
			</div>
			<div class="row" id="explanation_row">
				<div class = "resizable" id="explanation_container">
					<div id = "explanation" style="line-height: 104%;padding:2px;font-size:15px;">To start the example click on the Start button. You can move through the steps by clicking of the arrows that will appear on screen or using the left and right arrows on the keyboard.</div>
					<div class="ui-resizable-handle ui-resizable-n" id = "north"></div>
				</div>
			</div>
		{% else %}
			<strong>Application is empty.</strong>
		{% endif %}
	{% else %}
		<strong class = "centered">The specified application {{ application_name }} does not exist!</strong>
	{% endif %}
			
	<div id="overlay" class="web_dialog_overlay"></div>
	<div id="dialog" class="web_dialog ">
		<table id="question_dialogue" cellpadding="3" cellspacing="0">
			<tr>
				<td class="web_dialog_title">Question</td>
				<td class="web_dialog_title align_right"><a href="#" id="btnClose">Close</a></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2" class="question">
					<span id = "question_text"> </span>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2" class="question">
					<form class = "options" id="options" action = ""></form>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2" id="question_submit">
					<input id="btnSubmit" type="button" value="Submit" />
				</td>
			</tr>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{% static 'js/change.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/colResizable-1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>

	<script type="text/javascript">
		// Steps - Stores the sequence of events - nested arrays. Each nested array is [FRAG_ID, STATE]. So [1,'show'] means show fragment with ID 1. Two levels of nesting - the first one is the actual step, and each subsequent array is an action to perform (in the form above).
		// Explanations - Stores the sequence of events - nested arrays. Each nested array is [FRAG_ID, STATE]. So [1,'show'] means show fragment with ID 1. Two levels of nesting - the first one is the actual step, and each subsequent array is an action to perform (in the form above).
		{% autoescape off %}
		var steps = {{steps}};
		var explanations = {{explanations}};
		var app_name = "{{application_name}}";
		{% endautoescape %}

	</script>
	<script type="text/javascript" src="{% static 'js/applications.js' %}"></script>
{% endblock %}
