{% extends 'exerciser/base.html' %}
{% load static %}
{% block reset_registration %}
	{% if request.session.student_registered %}
		<a class="navbar-brand" href="#" onclick="resetRegistration()">
			<i class="fa fa-refresh landing-icon fa"></i>&nbsp;<span class="landing-text" style="position: relative; top: 2px;">Change details</span>
		</a>
	{% endif %}
{% endblock %}
{% block app_name %}WEAVE{% endblock %}
{% block body_block %}
	<h4 style = "text-align:center">Welcome to the Computing Science worked examples viewer!</h4>
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<br/><br/>
				{% if request.session.student_registered %}
					<strong>You are registered
						{% if request.session.teacher %} 
							 with teacher id {{request.session.teacher}}
							{% if request.session.group %} 
								 with group id {{request.session.group}}
								{% if request.session.year %} 
									 ({{request.session.year}}/{{request.session.year|add:"1"}})
									{% if request.session.student %} 
										 with student id {{request.session.student}}.
									{% else %}
										. 
									{% endif %}
								{% else %}
									. 
								{% endif %}
							{% else %}
								.
							{% endif %}
						{% else %}
							 anonymously.
						{% endif %}
						<br/><br/>
						<div style="text-align:left;">
							<table style="margin: 0 auto;">
								<tr>
									<td>
										<input placeholder="Search Application" id="application_search_box" type="text" style="margin:10px;"/> 
									</td>
								</tr>
								<tr>
									<td>
									{% if applications %}
									<ul class="navList" style=" list-style-type: none; ">
										{% for application in applications %}
											<li><a href="/weave/application/{{ application.url }}" style="color:gray;">{{ application.name }}</a></li>
										{% endfor %}
									</ul>
									{% else %}
										<strong>There are no applications present!</strong>
									{% endif %}
									</td>
								</tr>
							</table>
						</div>
					</strong>
				{% else %}
					<h1 class="details">Specify your details</h1>
					<br>
					<form id="detail_form" style=" margin-right: 5px; padding: 5px; font-size: 14pt; font-weight: bold;">
						<table style="width:100%;">
							<tr id="teacher_details" class="details" style="display:none">
								<td style="width: 40%; text-align: right; padding-right: 10px;">Teacher ID:</td>
								<td style="text-align: left;">
									<input id = "teacher" type="text" name="TeacherId" style="margin-right: 5px; padding: 5px; font-size: 12pt; font-weight: bold; margin-left: 10px;width:200px;" /><i class="fa fa-question-circle" title="Enter the teacher id provided by your teacher. If you weren't given such an ID, click on <No teacher ID> button to proceed."></i>
								</td>
							</tr>
							
							<tr id="year_details" class="details" style="display:none">
								<td style="width: 40%; text-align: right; padding-right: 10px;">Academic Year:</td>
								<td style="text-align: left;">
									<select id="academic_year_select" style="margin-right: 5px; padding: 5px; font-size: 12pt; font-weight: bold; margin-left: 10px;width:200px;">
										{% for year in academic_years %}
											<option value="{{year.start}}" >{{ year.start}}/{{ year.start|add:"1" }}</option>
										{% endfor %}
									</select>
									<i class="fa fa-question-circle" title="Choose the academic year your group belongs to. If you weren't given a Group ID, click on the <No year> button to proceed."></i>
								</td>
							</tr>
							
							<tr id="group_details" class="details" style="display:none">
								<td style="width: 40%; text-align: right; padding-right: 10px;">Group ID:</td>
								<td style="text-align: left;">
									<select id="group_list" style="margin-right: 5px; padding: 5px; font-size: 12pt; font-weight: bold; margin-left: 10px;width:200px;"></select><i class="fa fa-question-circle" title="Choose the group your teacher assigned you to or click on <No group ID> button to proceed."></i>
								</td>
							</tr>
							
							<tr id="student_details" class="details" style="display:none" >
								<td style="width: 40%; text-align: right; padding-right: 10px;">Student ID: </td>
								<td style="text-align: left;">
									<input id = "student" type="text" name="StudentId" style="margin-right: 5px; padding: 5px; font-size: 12pt; font-weight: bold; margin-left: 10px;width:200px;" /><i class="fa fa-question-circle" title="Enter the student ID your teacher assigned to you. If you weren't given such an ID, click on <No student ID> button to proceed."></i>
								</td>
							</tr>
							
							<tr>
								<td style="text-align: right;">
									<input  id = "back_button" type="button" value="Back" style="margin-top: 10px; font-size: 14pt; font-weight: bold;"/>&nbsp;
								</td>
								<td style="text-align: left">
									<input  id = "submit_button" class="save_teacher details" type="submit" value="Next" style="margin-top: 10px; font-size: 14pt; font-weight: bold;" onclick="saveTeacher()"/>&nbsp;
									<input id = "no_id" class="details" type="submit" value="No teacher ID" onclick="storeDetails()" style="margin-top: 10px; font-size: 14pt; font-weight: bold;"/>
								</td>
							</tr>
							
						</table>

					</form>
					<strong> You may view worked examples without logging in, in which case press the ‘No teacher ID’ button, or you may have been given login details by your teacher - in which case, enter his/her teacher ID below, press Next and follow the instructions. </strong>
					<br>
					<strong id="unsuccess_message" style = "color:red"></strong>
				{% endif %}
			</div>
				
			<div class="col-md-6 text-center">
				<br/><br/>
				<strong id="tutorial_intro_text">Weave will help you improve your skills in solving problems. Click on the Next arrow below for a short tutorial on how to use it!</strong>
				<ul>
					<li id = "prev_step" style="display: none;float:left;"><a id="btn_prev_step" href="#" style="position: relative; top: 2px;color:gray;"><i id="prev_step_arrow"class="fa fa-step-backward fa-lg landing-icon fa"></i>&nbsp;<label for="prev_step_arrow">Previous</label></a></li>
					<li id = "next_step" style="display: inline;float:right;"><a id="btn_next_step" href="#" style="position: relative; top: 2px;color:gray;"><label for="next_step_arrow">Next</label>&nbsp;<i id="next_step_arrow" class="fa fa-step-forward fa-lg landing-icon fa"></i></a></li>
				</ul>
				<br/><br/>
				<strong id="tutorial_text"></strong>
				<br/><br/><img id = "tutorial_screenshot" style="display:none;" src=" {% static 'media/specify details.jpg' %}"/>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script type="text/javascript" src="{% static 'js/cookieAccessor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
	<script>
		function goToTutorialStep(tutorialStep) {

			switch (tutorialStep) {
				case 0:
					$("#tutorial_text").text("");
					$("#tutorial_screenshot").hide();
					$("#prev_step").css("display", "none");
					break;
				case 1:
					$("#prev_step").css("display", "inline");
					$("#tutorial_screenshot").hide();
					$("#tutorial_text").text("Get the window to the size you want it before starting to look at any worked examples, and don’t resize the window after that.");
					break;
				case 2:
					$("#prev_step").css("display", "inline");
					$("#tutorial_screenshot").show();
					$("#tutorial_text").text("To start using Weave, enter any details given by your teacher and press the respective button. If none given click on No teacher ID, etc.");
					$("#tutorial_screenshot").attr("src", "{% static 'media/specify details.jpg' %}");

					break;
				case 3:
					$("#prev_step").css("display", "inline");
					$("#tutorial_screenshot").show();
					$("#tutorial_text").text("You can change your details by clicking on Change Details button on the top right corner of the page.");
					$("#tutorial_screenshot").attr("src", "{% static 'media/reset details.jpg' %}");
					break;
				case 4:
					$("#tutorial_text").text("An application selector will appear both on the toolbar next to the Home icon, and on the left of this tutorial. You can search for an example by typing in the text box.");
					$("#tutorial_screenshot").attr("src", "{% static 'media/select application.jpg' %}");
					break;
				case 5:
					$("#tutorial_text").text("Start an example by clicking on the Start button on the top right of the page. ");
					$("#tutorial_screenshot").attr("src", "{% static 'media/start.jpg' %}");
					break;
				case 6:
					$("#tutorial_text").text("You can go back and forward through the steps, as well as reset the example by the buttons on the top right of the page. Alternatively, use the arrow buttons to navigate through the worked example.");
					$("#tutorial_screenshot").attr("src", "{% static 'media/controls.jpg' %}");
					break;
				case 7:
					$("#tutorial_text").text("Note the explanation panel.");
					$("#tutorial_screenshot").attr("src", "{% static 'media/explanation.jpg' %}");
					break;
				case 8:
					$("#tutorial_text").text("You can resize the panels left to right, top to bottom.");
					$("#tutorial_screenshot").attr("src", "{% static 'media/resize.jpg' %}");
					break;
				case 9:
					$("#tutorial_text").text("Questions may appear to check your knowledge.");
					$("#tutorial_screenshot").attr("src", "{% static 'media/question.jpg' %}");
					$("#next_step").css("display", "inline");
					$("#tutorial_screenshot").show();
					break;
				case 10:
					$("#tutorial_text").text("Enjoy!");
					$("#tutorial_screenshot").hide();
					$("#next_step").css("display", "none");
					break;
				default:
					$("#tutorial_text").text("");
					$("#tutorial_screenshot").hide();
					break;
			}
		}
	</script>
{% endblock %}
